@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-4,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

#first-part {
    /* Group 36 */
    position: absolute;
    width: 808px;
    height: 72px;
    left: 168px;
    right: 194px;
    top: 1749.81px;
    bottom: -1224.81px;
}